.right_side {
  width: 280px;
  flex-shrink: 0;
  margin-left: auto;
  overflow: auto;
  overflow-x: hidden;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1280px) {
    width: 180px;
  }

  @media screen and (max-width: 1000px) {
    width: 70px;
  }
}

.account {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 3;
  flex-shrink: 0;
}

.side_title {
  font-family: var(--title-font);
  color: var(--side-title);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.stories {
  border-bottom: 1px solid var(--border-color);
}
.stories .user-img {
  border: 2px solid #e2b96c;
}

.stories {
  font-family: var(--body-font);
}

.side_wrapper {
  padding: 30px;

  @media screen and (max-width: 1280px) {
    padding-left: 20px;
    padding-right: 5px;
  }

  @media screen and (max-width: 1000px) {
    padding-left: 5px;
    padding-top: 20px;
  }
}

.contacts_username {
  display: flex;
  flex: 1;
  align-items: center;
  font-family: var(--body-font);
}

.search_bar {
  height: 60px;
  background-color: var(--bg-color);
  z-index: 3;
  position: relative;
  input {
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0 54px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3e%3cpath d='M508.9 478.7L360 330a201.6 201.6 0 0045.2-127.3C405.3 90.9 314.4 0 202.7 0S0 91 0 202.7s91 202.6 202.7 202.6c48.2 0 92.4-17 127.3-45.2L478.7 509c4.2 4.1 11 4.1 15 0l15.2-15.1c4.1-4.2 4.1-11 0-15zm-306.2-116c-88.3 0-160-71.8-160-160s71.7-160 160-160 160 71.7 160 160-71.8 160-160 160z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='white'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 25px 50%;
    color: #fff;
    font-family: var(--body-font);
    font-weight: 600;
    &::placeholder {
      color: var(--side-title);
    }
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.right_search svg {
  width: 16px;
  height: 16px;
}

.right_search {
  padding-right: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color);
  position: sticky;
  bottom: 0;
  margin-top: auto;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.right_search input {
  padding-right: 10px;
}
