.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #181d2f;
}

.main_container {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  background-color: #24273b;
}

.timeline {
  display: flex;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}

.timeline_left {
  width: 310px;
  flex-shrink: 0;
}

.timeline_right {
  flex-grow: 1;
  padding-left: 20px;
}