.profile {
  position: relative;
  height: 40vh;
  min-height: 250px;
  max-height: 350px;
  z-index: 1;

  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }
}

.profile_avatar {
  position: absolute;
  align-items: center;
  display: flex;
  z-index: 1;
  bottom: 16px;
  left: 24px;
}

.profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--bg-color);
  background-color: var(--bg2-color);
}

.profile_name {
  margin-left: 24px;
  margin-bottom: 24px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  font-family: var(--title-font);
}

.profile_cover {
  position: absolute;
  background-color: var(--bg2-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.profile_menu {
  position: absolute;
  bottom: 0;
  padding-left: 200px;
  background: var(--bg-color);
  width: 100%;
  display: flex;
  border-radius: 0 0 4px 4px;
}

.profile_menu_link {
  padding: 20px 16px;
  color: var(--side-title);
  transition: 0.3s;
  cursor: pointer;
  z-index: 10;
}

.active,
.profile_menu_link:hover {
  color: white;
  background-color: var(--bg2-color);
  border-bottom: 3px solid var(--side-title);
  z-index: 10;
}

.follow_btn {
  background-color: #1b86f9;
  box-shadow: 0 0 10px #1b86f9;
  margin-left: 20px;
  border-radius: 4px;
  padding: 7px 20px;
  font-size: small;
  cursor: pointer;
}

.follow_btn:hover {
  background-color: #1b86f9;
  box-shadow: 0 0 20px #1b86f9;
  transition: all 0.1s ease-in-out;
}

.following_btn {
  background-color: var(--bg-color);
  box-shadow: 0 0 10px var(--bg-color);
  margin-left: 20px;
  border-radius: 4px;
  padding: 7px 20px;
  font-size: small;
  cursor: pointer;
}
