.intro {
  padding: 20px;
}

.box {
  background-color: var(--bg-color);
  border-radius: 4px;
  width: 260px;
  min-height: 100px;

  @media screen and (max-width: 1450px) {
    width: 100%;
  }
}

.intro_title {
  font-family: var(--title-font);
  color: var(--side-title);
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.intro_menu {
  background-color: var(--button);
  box-shadow: -8px 0 0 0 var(--button), 8px 0 0 0 var(--button);
  width: 5px;
  height: 5px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
}

.info {
  font-size: 15px;
}
