@font-face {
  font-family: 'NatureBeauty';
  src: url('/NatureBeauty.ttf');
  font-weight: normal;
  font-style: normal;
}

.logofont{
  font-family: 'NatureBeauty';
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #000000;
  box-sizing: border-box;
  height: 100vh;
}

.seperator{
  display: flex;
  flex-direction: column;
}

.sidelogo{
  color: white;
  background-color: rgb(16, 16, 16);
  height: 100px;
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  color: rgb(184, 184, 184);
  font-weight: 900;
  font-size: 15px;
  background-color: rgba(118, 118, 118, 0);
  height: 40px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}

.profilesection{
  color: rgb(184, 184, 184);
  font-weight: 900;
  font-size: 20px;
  background: rgb(16, 16, 16);
  border-radius: 0px 0px 10px 10px;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
}

.profilesection:hover{
  background: rgb(37, 37, 37);
  color: white;
}

.clubsection{
  /* flex: 1; */
  height: calc(100% - 150px);
  color: white;
}

.scrollable{
  overflow-y: auto;
  max-height: calc(50% - 40px);
  padding-left: 10px;
  padding-right: 10px;
}