.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: var(--bg2-color);
}

.box {
  margin: 20px;
  overflow-y: scroll;
  overflow-x: auto;

  @media screen and (max-width: 700px) {
    margin: 5px;
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}
