@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
  --body-font: "Inter", sans-serif;
}

* {
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: var(--body-font);
}






.logoutbtn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  

  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logoutbtn:hover {
  background-color: #3d0505;
  color: #fff;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3d0505 #170202;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #170202;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3d0505;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

